.bday {
	header {
		background-color: $brand-color;
		color: #fff;
		padding-top: 30px;
		padding-bottom: 30px;

		.wrapper {
			text-align: center;
		}
	}
}

.feature {
	@include laptop {
		.img-container {
			float: left;
			width: 49%;
		}

		.content {
			float: right;
			width: 49%;
			margin-left: 2%;
		}
	}
}

.col-3-up {
	li {
		@include laptop {
	        float: left;
	        width: 32%;
	        margin-left: 2%;

	        &:first-child {
	        	margin-left: 0;
	        }
	    }
	}
}