@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

.fun-heading {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
  text-align: center;
}

.responsive-background-image {
  background: transparent
              url(../images/header/header_600x337_high60.jpg)
              no-repeat
              scroll
              bottom center / 100%
              border-box border-box;
}

.quote {
  background-color: $grey-color-dark;
  color: #fff;
  font-size: 16px;
  padding: 40px 10px;
  margin-top: 40px;
  text-align: center;

  @include laptop {
    position: absolute;
    left: 10%;
    bottom: 0;
    -webkit-transform: rotate(-8deg);
    z-index: 999;
    width: 138px;
    padding: 20px;
    margin-top: 0;
  }
}

.bday {
  font-size: 22px;
  line-height: 1.65;

  header {
    background-color: $brand-color;
    padding-bottom: 10px;

    .wrapper {
      padding-top: 20px;
      padding-bottom: 30px;
      position: relative;
    }

    .quote {
      @include laptop {
        bottom: -7%;
      }

      @include desktop {
        bottom: -8%;
      }
    }

    h1 {
      color: #fff;
      padding-top: 20px;
    }

    .responsive-background-image {
      margin: 30px;
    }
  }

  .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }

  .details {
    background-color: $grey-color-light;
    text-align: center;
  }

  .rsvp {
    background-color: $background-color;

    .wrapper {
      text-align: center;

      @include laptop {
        max-width: 400px;
      }
    }
  }
}

// .favorites {
//   dt {
//     font-weight: bold;
//   }

//   dd {
//     border-bottom: 1px solid $grey-color-light;
//     padding: 5px 0 15px 15px;
//     margin-bottom: 30px;
//   }
// }

.rounded-img {
  @include border-radius(50%);
  margin: auto;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// .feature {
//   @include laptop {
//     .img-container {
//       float: left;
//       width: 49%;
//     }

//     .content {
//       float: right;
//       width: 49%;
//       margin-left: 2%;
//     }
//   }
// }

// .col-3-up {
//   li {
//     @include laptop {
//       float: left;
//       width: 32%;
//       margin-left: 2%;

//       &:first-child {
//         margin-left: 0;
//       }
//     }
//   }
// }